@mixin flexrow {
	display: flex;
	flex-direction: row;
}

.App {
  margin: 2rem;
  padding: 2rem;
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.container {
  @include flexrow;
  margin:0.5rem;
  align-items: start;
}

.tagsContainer {
  @include flexrow;
  flex-wrap: wrap;
  margin: 0 1rem;
  overflow: hidden;
  height: 36px;
}

div .display {
    overflow: visible;
    height: auto;
}

.title {
  flex: 0 0 4rem;
  margin-top: 0.7rem;
}

.content {
  color:rgb(16, 198, 189);
  font-size: 16px;
  text-wrap: nowrap;
  padding: 0 12px;
  border-left: 1.5px solid lightgray;
  text-align: center;
  margin-top: 0.7rem;
  cursor: pointer;
}